@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

body {
  background-color: #e5e4e5;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}